<!DOCTYPE html>
<header>
  <link rel="stylesheet" href="../foundation-5.4.0/css/foundation.css">
  <link rel="stylesheet" href="../foundation-5.4.0/css/css_self.css">

</header>
<body>

  <! navigation bar -->

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
       <img id="logo" src="../foundation-5.4.0/img/logos.png">
       <img id="font" src="../foundation-5.4.0/img/font.png">
     </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
     <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
   </ul>
   <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="myprofile.html" id="welcome">Welcome John</a></li> 
      <li><a href="index.html">Logout</a></li>
    </ul>
  </section>
</nav>



<div class="row">
  <div class="large-12 columns">

    <! tab titles -->
    <ul class="tabs" data-tab role="tablist">
      <li class="tab-title active" role="presentational"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Edit Profile</a></li>
    </ul>

    <div class="tabs-content"  id="main_tab">

      <! edit profile page -->
      <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
        <div class="large-12 columns">
          <p>Please complete your profile.</p>
          <form>
            <div class="row">
              <div class="large-12 columns"  id="profile_form">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class="right inline">First Name:</label>
                  </div>
                  <div class="large-5 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="large-12 columns" id="profile_form">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class="right inline">Last Name:</label>
                  </div>
                  <div class="large-5 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class="right inline">Date of Birth:</label>
                  </div>
                  <div class="large-5 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class="right inline">Phone Number:</label>
                  </div>
                  <div class="large-5 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form2">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class=" right inline">Unit/Number:</label>
                  </div>
                  <div class="large-1 columns"id="space">n
                  </div>
                  <div class="large-1 columns">
                    <input type="text" id="right-label">
                  </div>
                  <div class="large-1 columns">
                    <label for="right-label" class="right inline">Street:</label>
                  </div>
                  <div class="large-3 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form2">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class=" right inline">Suburb:</label>
                  </div>
                  <div class="large-1 columns" id="space">n
                  </div>
                  <div class="large-5 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form2">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class=" right inline">State:</label>
                  </div>
                  <div class="large-1 columns" id="space">n
                  </div>
                  <div class="large-2 columns">
                    <input type="text" id="right-label">
                  </div>
                  <div class="large-1 columns">
                    <label for="right-label" class=" right inline">Postcode:</label>
                  </div>
                  <div class="large-2 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class="right inline">TFN:</label>
                  </div>
                  <div class="large-5 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class="right inline">Primary ID type:</label>
                  </div>
                  <div class="large-5 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class="right inline">Primary ID Number:</label>
                  </div>
                  <div class="large-5 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class="right inline">Secondary ID type:</label>
                  </div>
                  <div class="large-5 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class="right inline">Secondary ID Number:</label>
                  </div>
                  <div class="large-5 columns">
                    <input type="text" id="right-label">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="profile_form">
                <div class="row">
                  <div class="large-6 columns">
                    <label for="right-label" class="right inline">Self Introduction:</label>
                  </div>
                  <div class="large-5 columns">
                    <textarea type="text" id="right-label"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>
          
          <div class="right" id="submit_button"> 
           <a href="#" class="secondary small button">Submit</a>
         </div>
         <div class="right" id="cancel_button"> 
           <a href="#" class="secondary small button">Cancel</a>
         </div>

       </div>
     </section>
   </div>
 </div>
</div>



<! footer -->
<footer>

  <div class="row">
    <div class="large-3 columns">
      <p><img id="logo" src="../foundation-5.4.0/img/logos.png">
       <img id="font" src="../foundation-5.4.0/img/font.png"></p>
     </div>
     <div class="large-9 columns">
      <ul class="inline-list right">
        <li><a href="#" id="bottom_links">Contact Us</a></li>
        <li><a href="#" id="bottom_links">About MoneyLink</a></li>
        <li><a href="#" id="bottom_links">How MoneyLink works</a></li>
        <li><a href="#" id="bottom_links">Privacy Policy</a></li>
        <li><a href="#" id="bottom_links">Term of Use</a></li>
      </ul>
    </div>
  </div>

</footer>

<script src="../foundation-5.4.0/js/vendor/jquery.js"></script>
<script src="../foundation-5.4.0/js/foundation/foundation.js"></script>
<script src="../foundation-5.4.0/js/foundation/foundation.topbar.js"></script>
<script src="../foundation-5.4.0/js/foundation/foundation.tab.js"></script>
<script>
$(document).foundation();
</script>   
</body>
</html>