<!DOCTYPE html>
<header>
  <link rel="stylesheet" href="../foundation-5.4.0/css/foundation.css">
  <link rel="stylesheet" href="../foundation-5.4.0/css/css_self.css">

</header>
<body>

  <! navigation bar -->
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
           <img id="logo" src="../foundation-5.4.0/img/logos.png">
           <img id="font" src="../foundation-5.4.0/img/font.png">
           
         </li>
         
         <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
       </ul>
       <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="/">Home</a></li>
          <li><a href="#">About MoneyLink</a></li>
          <li><a href="#">How MoneyLink works</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </section>
    </nav>


<! tab titles -->
    <ul class="tabs" data-tab role="tablist">
    </ul>
    <div class="tabs-content"  id="main_tab">

      <! register_comfir page -->
      <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
        <div class="large-12 columns">
          <p>Please check your email to comfirm and complete your registration.</p>
        </div>
  
     </section>
    </div>



<! footer -->
<footer>

  <div class="row">
    <div class="large-3 columns">
      <p><img id="logo" src="../foundation-5.4.0/img/logos.png">
       <img id="font" src="../foundation-5.4.0/img/font.png"></p>
     </div>
     <div class="large-9 columns">
      <ul class="inline-list right">
        <li><a href="#" id="bottom_links">Contact Us</a></li>
        <li><a href="#" id="bottom_links">About MoneyLink</a></li>
        <li><a href="#" id="bottom_links">How MoneyLink works</a></li>
        <li><a href="#" id="bottom_links">Privacy Policy</a></li>
        <li><a href="#" id="bottom_links">Term of Use</a></li>
      </ul>
    </div>
  </div>

</footer>

  <script src="../foundation-5.4.0/js/vendor/jquery.js"></script>
  <script src="../foundation-5.4.0/js/foundation/foundation.js"></script>
  <script src="../foundation-5.4.0/js/foundation/foundation.topbar.js"></script>
  <script src="../foundation-5.4.0/js/foundation/foundation.tab.js"></script> 
  <script>
  $(document).foundation();
  </script>   
</body>
</html>